@charset "UTF-8";

/* FUENTE DE STAR WARS */
@font-face {
	font-family: Starjedi;
	src: url('../fonts/Starjedi.ttf');
}

/* FONDO DE ESTRELLAS */
body {
	background-image:
		radial-gradient(2px 2px at 20px 30px, #eee, rgba(0, 0, 0, 0)),
		radial-gradient(2px 2px at 40px 70px, #fff, rgba(0, 0, 0, 0)),
		radial-gradient(2px 2px at 50px 160px, #ddd, rgba(0, 0, 0, 0)),
		radial-gradient(2px 2px at 90px 40px, #fff, rgba(0, 0, 0, 0)),
		radial-gradient(2px 2px at 130px 80px, #fff, rgba(0, 0, 0, 0)),
		radial-gradient(2px 2px at 160px 120px, #ddd, rgba(0, 0, 0, 0));
	background-repeat: repeat;
	background-size: 200px 200px;
	background-color: #000000;
}

/* SUBRAYAR TEXTO */
a {
	color: #FFFF00;
}

/*ENLACE */
a:link {
	color: #FFFF00;
	text-decoration: none;
}

a:visited {
	color: #FFFF00;
}

/*CURSOR */
a:hover {
	color: #FFFF00;
}

/* BOTON MENU PRINCIPAL*/
.button {
	background-color: dimgrey;
	border: none;
	color: #FFFF00;
	padding: 5px 10px 6px 8px;
	width: 142px;
	text-decoration: none;
	display: inline;
	cursor: pointer;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	float: left;
	cursor: pointer;
	font: Starjedi;
}

/* BOTON MENU CURSOR*/
.button:hover {
	color: #FFFFFF;
	text-shadow: 1px 1px #000000;
	cursor: pointer;
	background-color: gray;
}

/* BOTON SUBMENU*/
.button2 {
	background-color: none;
	border: none;
	color: #FFFF00;
	padding: 5px 10px 6px 8px;
	width: 142px;
	text-decoration: none;
	display: inline;
	cursor: pointer;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	float: left;
	cursor: pointer;
	font: Starjedi;
}

/* BOTON SUBMENU CURSOR*/
.button2:hover {
	color: #FFFFFF;
	text-shadow: 1px 1px #000000;
	cursor: pointer;
	background-color: gray;
}

/* BOTON SUBMENU 2*/
.button3 {
	background-color: none;
	border: none;
	color: #FFFF00;
	padding: 5px 10px 6px 8px;
	width: 195px;
	text-decoration: none;
	display: inline;
	cursor: pointer;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	float: left;
	cursor: pointer;
	font: Starjedi;
}

/* BOTON SUBMENU 2 CURSOR*/
.button3:hover {
	color: #FFFFFF;
	text-shadow: 1px 1px #000000;
	cursor: pointer;
	background-color: gray;
}

/* TITULO */
h1 {
	font-family: Starjedi;
	color: #FFFF00;
	font-size: 36px;
	font-weight: bold;
	text-shadow: 1px 1px #000000;
	text-align: center;
	max-width: 640px;
	margin: auto;
}

/* TITULO ENLACE*/
h1:link {
	color: #FFFF00;
	cursor: pointer;
}

h1:visited {
	color: #FFFF00;
}

/* SUBTITULO */
h2 {
	font-family: Starjedi;
	color: #FFFF00;
	font-size: 24px;
	font-weight: normal;
	text-shadow: 1px 1px #000000;
	text-align: center;
	max-width: 640px;
	margin: auto;
}

/* PIE PAGINA */
h6 {
	font-family: Starjedi;
	color: #FFFF00;
	font-weight: normal;
	text-shadow: 1px 1px #000000;
	text-align: center;
	max-width: 640px;
	margin: auto;
}

/* PARRAFO ESTILO PRINCIPAL */
.uno {
	position: relative;
	max-width: 640px;
	top: 20px;
	margin: auto;
	font-family: starjedi;
	font-size: 16px;
	font-weight: normal;
	text-align: justify;
	color: #FFFFFF;
	text-shadow: 1px 1px #000000;
}

/* PARRAFO TABLA UBICACION*/
.dos {
	position: relative;
	max-width: 640px;
	top: 20px;
	box-shadow: 15px 15px 5px 0 rgba(0, 0, 0, 0.5);
	margin: auto;
	font-family: starjedi;
}

/* PARRAFO ESTILO REFERENCIAS */
.ref {
	position: relative;
	max-width: 640px;
	top: 20px;
	margin: auto;
	font-family: cursive;
	font-size: 12px;
	font-weight: normal;
	text-align: justify;
	color: #FFFF00;
	text-shadow: 1px 1px #000000;
}

/* IMAGEN CENTRADA */
.imagecenter {
	position: relative;
	max-width: 640px;
	top: 20px;
	margin: auto;
	text-align: center;
	bottom: 20px;
}

/* IMAGEN IZQUIERDA */
.tres {
	position: relative;
	float: left;
	top: 20px;
	box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5);
	margin-right: 20px;
	margin-bottom: 30px;
}

/* IMAGEN DERECHA */
.cuatro {
	position: relative;
	float: right;
	top: 20px;
	box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5);
	margin-left: 20px;
	margin-bottom: 20px;
}

/* TABLA CELDAS */
td {
	background-color: gray;
	color: black;
	padding: 10px 18px 10px 10px;
	font-family: starjedi;
	font-size: 12px;
}

/* TABLA CELDAS CURSOR*/
td:hover {
	color: #FFFF00;
	text-shadow: 1px 1px #000000;
}

/* TABLA CELDAS */
.hd {
	font-size: 16px;
	color: #FFFF00;
}


/*<---- SUBBAR ---->*/

.subbar {
	display: flex;
	align-items: center;
	display: flex;
	justify-content: center;
	color: #FFFF00;
}

.submenu {
	display: flex;
	font-size: 18px;
}

.submenu li:hover {
	border-radius: 5px;
	transition: 0.3s ease;
}

.sub-links a {
	color: #FFFF00;
}


/*<---- NAVBAR ---->*/
ul {
	padding: 0;
	list-style-type: none;
}

li {
	list-style: none;
}

.navbar {
	display: flex;
	align-items: center;
	display: flex;
	justify-content: center;
	color: #FFFF00;
}

.nav-links a {
	color: #FFFF00;
}

/* NAVBAR MENU */
.menu {
	display: flex;
	font-size: 18px;
}

.menu li:hover {
	border-radius: 5px;
	transition: 0.3s ease;
}

/*RESPONSIVE NAVBAR MENU STARTS*/
input[type=checkbox] {
	display: none;
}

/*HAMBURGER MENU*/
.hamburger {
	display: none;
	font-size: 24px;
	user-select: none;
}

/*<---- NAVBAR ---->*/



/* cuando la ventana mida menos de 1200px */
@media only screen and (max-width: 1200px) {



}

@media only screen and (max-width: 640px) {
	/*<---- SUBMENU 640PX ---->*/
	.submenu {
		display: inline-block;
		align-items: center;
		justify-content: center;
		text-align: center;
		background: rgba(0.5, 0.5, 0.5, 0.3);
		background-origin: content-box;
	}

	.submenu li:hover {
		display: inline-block;
		transition: 0.3s ease;

	}

	.submenu li+li {
		margin-top: 12px;

	}

	.subbar {
		display: flex;
		align-items: center;
		justify-content: center;
		color: #FFFF00;
	}

	.submenu li {
		display: inline;
		width: 100%;
	}
}

@media only screen and (max-width: 640px) {

	/*<---- NAVBAR PHONE ---->*/
	.menu {
		display: none;
		position: fixed;
		right: 0;
		left: 0;
		text-align: center;
		padding: 16px;
		font-size: 18px;
		background: rgba(0.5, 0.5, 0.5, 0.3);
		background-origin: content-box;
		transition: all 1s;
		z-index: 30;
		width: 160px;
	}

	.menu li:hover {
		display: inline-block;
		transition: 0.3s ease;

	}

	.menu li+li {
		margin-top: 12px;

	}

	input[type=checkbox]:checked~.menu {
		display: block;
	}

	.hamburger {
		display: block;
	}

	.navbar {
		display: flex;
		align-items: center;
		justify-content: left;
		color: #FFFF00;
	}

	.menu li {
		display: inline-block;
		width: 100%;
		flex-direction: column;

		transition: all 1s;
	}

	/*<---- NAVBAR 640px ---->*/

	.imagecenter {
		position: relative;
		float: center;
		margin-top: 0px;
		margin: auto;
		text-align: center;
		bottom: 20px;
		max-width: 100%;
		height: auto;
	}

	img {
		position: relative;
		float: center;
		top: 0px;
		text-align: center;
		bottom: 20px;
		max-width: 100%;
		height: auto;
		margin-top: 0px;
	}

	.titulo {}

}